/* Stili generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fa-solid{
    color: rgb(154, 153, 153);
}

/* Stili container generali */
#wrapper{
    position: relative;
}
#row_green{
    width: 100vw;
    height: 15vh;
    background-color: rgb(29, 150, 130);
}
#row_gray{
    width: 100vw;
    height: 85vh;
    background-color: rgb(212, 212, 212);
}

/* Stili finestra principale */
#main{
    width: 85vw;
    height: 95vh;
    background-color: rgb(228, 228, 228);
    position: absolute;
    top: 2.3%;
    left: 7.5%; 
    display: flex;
}

#friends{
    width: 27vw;
    height: 100%;
    background-color: white;
}
#notifiche{
    width: 100%;
    height: 55px;
    background-color: rgba(0, 181, 221, 0.551);
}
#ricerca{
    width: 100%;
    height: 27px;
    padding: 2px;
    background-color: rgb(244, 244, 244);
}

#chat{
    flex-grow: 1;
    background-image: url(../img/sfondo.png);
    background-size: contain;
    overflow-y: scroll;
    position: relative;
}
.bg_gray{
    width: 100%;
    height: 50px;
    background-color: rgb(228, 228, 228);
}
#bottom{
    position: absolute;
    bottom: 0;
    right: 0;
}