/* Stili generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fa-solid{
    color: rgb(154, 153, 153);
}

/* Stili container generali */
#wrapper{
    position: relative;
}
#row_green{
    width: 100vw;
    height: 15vh;
    background-color: rgb(29, 150, 130);
}
#row_gray{
    width: 100vw;
    height: 85vh;
    background-color: rgb(212, 212, 212);
}

/* Stili finestra principale */
#main{
    width: 85vw;
    height: 95vh;
    background-color: rgb(228, 228, 228);
    position: absolute;
    top: 2.3%;
    left: 7.5%; 
    display: flex;
}

/* Stili finestra friends */
#friends{
    width: 27vw;
    height: 100%;
    background-color: white;
}

/* Stili riga notifiche */
#notifiche{
    width: 100%;
    height: 55px;
    background-color: rgba(0, 181, 221, 0.551); 
    padding-top: 15px;
}
#notifiche .fa-solid{
    font-size: 12px;
    color: rgba(0, 181, 221, 0.551);
    background-color: white;
    padding: 8px 6.5px;
    border-radius: 50%;
    float: left;
    margin: 0 10px 0 15px;
}
#notifiche h5{
    margin-bottom: -5px;
}
#notifiche a{
    font-size: 11.5px;
    color: gray;
    clear: both;
}


/* Stili riga ricerca */
#ricerca{
    width: 100%;
    height: 27px;
    padding: 3px;
    background-color: rgb(244, 244, 244);
    display: flex;

}
#ricerca .fa-solid{
    font-size: 10px;
    background-color: white;
    padding: 5px 15px;
    border: 1px solid rgb(207, 207, 207);
    border-right: none;
}
#ricerca input{
    width: 85%;
    font-size: 10px;
    border: none;
    padding: 2.5px;
    border: 1px solid rgb(207, 207, 207);
}

/* Stili finestra chat */
#chat{
    flex-grow: 1;
    background-image: url(../img/sfondo.png);
    background-size: contain;
    overflow-y: scroll;
    position: relative;
}
.bg_gray{
    width: 100%;
    height: 50px;
    background-color: rgb(228, 228, 228);
}
#bottom{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
}
#bottom i{
    color: gray;
    padding: 20px;
}
#bottom input{
    flex-grow: 1;
    border: none;
    padding: 10px;
    border-radius: 5px;
}
